extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Enter the token sent to your email address
            form.form.form--reset
                .form__group
                    label.form__label(for="token") Token
                    input#token.form__input(type="text" placeholder="token" required)
                .form__group
                    label.form__label(for='password') New password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-lg
                    label.form__label(for='password-confirm') Confirm password
                    input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Submit